.Mapa-container {
  margin: 0 auto;
  width: 80%;
  position: relative;
}

#zoomIn {
  background-color: rgba(#193040, 0.3) !important;
}

#zoomOut {
  background-color: rgba(#193040, 0.3) !important;
}
